*{
    margin: 0;
    padding: 0;
}
.what-we-offer-wrapper{
    padding-left: 1px !important;
    margin-top:60px;
    max-height: 200px;
    border: 4px solid #60c3ed;
    /* border-bottom-left-radius: 40px;
    border-top-right-radius:  40px; */
}
.what-we-offer-img-wrapper{
    width:50%;
   max-height:200px;

}
.what-we-offer-img-wrapper > img{
    height: 180px;
    width: 100% !important;
    object-fit: cover;
    display: flex;
    /* border-bottom-left-radius: 40px; */
    background-color: aqua;
    float: left;
}
.what-we-offer-content{
    width: 50%;
    display: flex;
    margin-top: 10px;
    
}
.what-we-offer-wrapper-2{
    margin-top:60px;
    max-height: 200px;
    border: 4px solid #60c3ed;
    border-radius: 0px;
    /* border-bottom-right-radius: 40px;
    border-top-left-radius:  40px; */
}
.what-we-offer-content-2{
    width: 50%;
    display: flex;
    float: left;
    flex-wrap: wrap;
}
.what-we-offer-img-wrapper-2{

    width:50%;
    padding-left: 1px;
   max-height:200px;
   float: left;
}
.what-we-offer-img-wrapper-2 > img{
    height: 190px;
    width: 100% !important;
    object-fit: cover;
    display: flex;
    /* border-bottom-right-radius: 40px; */
    background-color: aqua;
    float: left;
    
}
*{
    font-family: Raleway;
}

.img1{
    
  margin: auto 50px;
}

.services-heading{
    font-family: 'Playfair display' !important;
    font-size: 30px !important;
 }
.services-content{
     
     font-size: 25px !important;
}
.who-we-are-content{
    font-size: 25px !important;
}
@media only screen and (max-width:600px) {
    .services-wrapper{
       margin-left: -19%;
       margin-right: 3%;
  /* width: 50%; */
    }
    .who-we-are-content{
        font-size: 20px !important;
    }
    .services{
        padding-left: 100px !important;
        font-size: 30px !important;
     }
     .services-content{
     
        font-size: 18px !important;
   }
}


